.featured-post {
  display: grid;
  grid-template-columns: 66% 1fr;
  grid-column-gap: 25px;
  margin-bottom: 50px;
}

.featured-post__img .img-wrap { height: auto; }

.featured-post__content {
}

.featured-post h2 {
  font-size: 20pt;
}

@media screen and (max-width: 728px) {
  .wrapper--front-page  { grid-template-columns: 1fr 1fr; }
}


@media screen and (max-width: 540px) {
  .wrapper--front-page .featured-post { display: block; }
}
