.feed-entry {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-column-gap: 20px;
  margin-bottom: 35px;
  text-align: left;
}
.feed-entry__img-wrap {
  width: 130px;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}
a:hover {
  color: #6a6b6c;
  text-decoration: underline;
}

h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14pt;
  margin-top: 0;
}

h4 {
  color: #999;
  font-size: 12pt;
  margin-top: 7px;
}

p {
  color: #6a6c6b;
  font-size: 12pt;
  line-height: 18pt;
}

.header__meta__topics {
  margin-top: 5px;
  padding-left: 0
}

li { display: inline-block; }

li p {
  font-size: 10pt;
  margin: 0
}

.feed-entry__action-bar__save {
  color: #999;
  cursor: pointer;
  font-size: 10pt;
  weight: 300;
}

.feed-entry__action-bar__save:hover {
  color: #6a6c6b;
}
