.feed-entry {
  margin-bottom: 35px;
  text-align: left;
}

.feed-entry__img-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.post__img-wrap {
  height: 180px;
}

.feed-entry__img {
  width: 100%;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}
a:hover {
  color: #6a6b6c;
  text-decoration: underline;
}

h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 21pt;
  margin-top: 10px;
  margin-bottom: 0;
}

h4 {
  color: #999;
  font-size: 12pt;
  margin-top: 5px;
  margin-bottom: 0;
}

p {
  color: #6a6c6b;
  font-size: 14pt;
  list-style: 24pt;
}

.post-entry__title { margin-top: 10px; }

.post-entry__date {
  font-size: 10pt;
}
.post-entry__action-bar__delete {
  color: #999;
  cursor: pointer;
  font-size: 10pt;
  weight: 300;
}

.post-entry__action-bar__delete:hover {
  color: #6a6c6b;
}

@media screen and (max-width: 540px) {
  .wrapper--front-page .post-entry { margin-bottom: 40px; }
}
