.Admin-header .header__wrapper {
  max-width: 1240px;
}
.admin__container {
  display: grid;
  grid-template-columns: 50% 33%;
  grid-column-gap: 50px;
  margin: 86px auto;
  max-width: 1240px;
  width: 90%;
}
