.feed-story {
  text-align: left;
}
.feed-story__img-wrap {
  max-height: 167px;
  overflow: hidden;
}

.feed-story__img {
  width: 100%;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}
a:hover {
  color: #6a6b6c;
  text-decoration: underline;
}

h2 {
  font-family: helvetica, arial, sans-serif;
  font-size: 21pt;
}

h4 {
  font-size: 12pt;
  color: #999;
}

p {
  color: #6a6c6b;
  font-size: 14pt;
  list-style: 24pt;
}
